// Colors
$color-red: #ea5454;
$color-green: #44d3d2;
$color-yellow: #fcae4a;
$color-blue: #549ef2;
$color-navy: #4d4f62;
$color-white: #fafafa;

// Typography
$font-primary: "Poppins", sans-serif;
$fw-light: 200;
$fw-regular: 400;
$fw-semibold: 600;
$fs-extra-small: 0.813rem;
$fs-small: 0.938rem;
$fs-medium: 1.25rem;
$fs-large: 1.5rem;
$fs-extra-large: 2.25rem;

// // Spacing
$gap-large: 4rem;
$spacing-regular: 1.5rem;
$spacing-l: 2rem;
$spacing-xxl: 4.75rem;
$spacing-huge: 5rem;

// Spacing
$spacing-small: 1.75rem;
$spacing-medium: 2rem;
$spacing-xl: 4.75rem;
$spacing-xxl: 5rem;
$spacing-huge: 5.3rem;

// Layout
$max-width-main: 75rem;
$max-width-features: 33.75rem;

// Breakpoints
$breakpoint-lg: 63.25rem;
